* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #30b58a;
    font-family: 'Arial', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}



.login-box {
    width: 450px;
    
    padding: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 60px;
}


.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}



.users {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: 80px;

}




.input-group {
    margin-bottom: 15px;
}

input[type="text"],
input[type="password"] {
    width: 100%;
    height: 50px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ececec;
    background-color: rgb(236, 236, 236);
    font-size: 16px;
}

.login-btn {
    width: 100%;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #fedd12;
    font-size: 14px;
    height: 50px;
    text-transform: uppercase;
    cursor: pointer;
}

p {
    text-align: center;
    margin-top: 10px;
    font-size: 14px;
}

a {
    color: #050505c9;
    font-weight: bold;
}

